
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login & Registration</title>
    <style>
        .field{
        display:flex;
        flex-direction:column;
        width:40%;
        }
    </style>
</head>
<body>
{% extends 'main.html' %}
{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="username">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="password">
    </div>
</form>
{% endblock %}
</body>
</html>